nav.page_menu
	ul.cf
		li.page_menu-item
			a(href="")
				.icon
					<i class="fas fa-home"></i>
				.txt 首頁
		li.page_menu-item
			a(href="")
				.icon
					<i class="fas fa-file-alt"></i>
				.txt 日誌
		li.page_menu-item
			a(href="")
				.icon
					svg.icons-feelback
						use(xlink:href="#svg-feelback")
				.txt 回饋
		li.page_menu-item
			a(href="")
				.icon
					svg.icons-vote
						use(xlink:href="#svg-vote")
				.txt 票選
		li.page_menu-item
			a(href="")
				.icon
					<i class="fas fa-cog"></i>
				.txt 管理
