nav.page_menu
	ul.cf.lis-n
		li.page_menu-item(data-menu="index")
			a(href="./")
				.icon
					<i class="fas fa-home"></i>
				.txt 首頁
		li.page_menu-item(data-menu="diary")
			a(href="diary_add.html")
				.icon
					<i class="fas fa-file-alt"></i>
				.txt 日誌
		li.page_menu-item(data-menu="feedback")
			a(href="feedback.html")
				.icon
					svg.icons-feelback
						use(xlink:href="#svg-feelback")
				.txt 回饋
		li.page_menu-item(data-menu="vote")
			a(href="vote.html")
				.icon
					svg.icons-vote
						use(xlink:href="#svg-vote")
				.txt 票選
		li.page_menu-item(data-menu="config")
			a(href="config.html")
				.icon
					<i class="fas fa-cog"></i>
				.txt 管理
