script(src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script window.jQuery || document.write('<script src="dist/js/libs/jquery.min.js"><\/script>')

script(src="dist/js/libs/plugin_mix.js")
script(src="dist/plugin/jquery-ui.js")

// 動態效果
script(src="dist/plugin/greensock/TweenMax.min.js")
script(src="dist/plugin/marka/marka.js")

// 表單驗證
script(src="dist/plugin/jquery-validation/jquery.validate.js")
script(src="dist/plugin/jquery-validation/additional-methods.js")
script(src="dist/plugin/jquery-validation/localization/messages_zh_TW.js")

// 多選
script(src="dist/plugin/multiple-select.js")

// custom scrollbar
script(src="dist/plugin/jquery.mCustomScrollbar.js")

script(src="dist/js/popper.min.js")
script(src="dist/js/tooltip.js")

script(src="dist/js/au.js")