/*------------------------------------------------------------------------*\
		>>	clearfix
\*------------------------------------------------------------------------*/
.cf:before, .cf:after {content: ""; display: table; height: 0; overflow: hidden; }
.cf:after { clear: both; }
.cf { zoom: 1; }