.diary_list {
	position: relative;
	width: 100%;

	@include media-breakpoint-down(md){
		padding-left: 1rem;
	};



	&-timeline {
		@include absolute(0, $L:50%);
		transform: translateX(-50%);
		z-index: 1;
		@include wh(2, 100%);
		background-color: theme-color("primary1");

		@include media-breakpoint-down(md){
			left: 1rem;
			transform: translateX(-1px);

		};


	}
}


.diary_item {
	position: relative;
	z-index: 2;

	// width: 100%;

	@include oftype(even){
		// width: 100%;
		left: 50%;

		@include media-breakpoint-down(md){
			left: 0;
		};

		.diary-date:after {
			right: inherit;
			left: -10px;
		}

		.diary-state {
			padding-right: 1em;
			.icon:after {
				clear: both;
			}
			svg {
				float: right;
			}
		}
	};

	@include oftype(odd){
		.inner {
			flex-direction: row-reverse;

			@include media-breakpoint-down(md){
				flex-direction: row;
			};
		}

		.diary-state {
			padding-left: 1em;
		}

		@include media-breakpoint-down(md){
			.diary-date:after {
				right: inherit;
				left: -10px;
			}

			.diary-state {
				padding-right: 1em;
				.icon:after {
					clear: both;
				}
				svg {
					float: right;
				}
			}

		};


	};

	&:not(:first-of-type){
		margin-top: -1rem;

		@include media-breakpoint-down(md){
			margin-top: 1rem;
		};
	}

	.inner {
		width: 50%;

		@include media-breakpoint-down(md){
			width: 100%;
		};

		&:hover {
			.diary_item_block {
				box-shadow: $z-depth-1-half;
			}

		}

	}

	.inner-s {
		flex: 0 0 125px;
	}

	.inner-l {
		flex: 0 1 100%;
		// padding-right: 0.5rem;
	}

	.diary-date {
		position: relative;
		text-align: center;

		&:after {
			@include psudoClass;
			@include absolute(3px, -10px);
			@include circle(20);
			background-color: theme-color("primary1");
		}

	}



	.icon {
		@include wh(100%, 30);
		display: block;
		margin-bottom: 2px;
		svg {
			@include wh(30, 100%);
		}
	}
}

.diary_item_block {
	position: relative;
	background-color: #fff;
	box-shadow: $boxShadow-weak;
	border-radius: $border-radius-base;

	max-height: 135px;

	transition: $transition-hoverable;

	&:before {
		@include psudoClass;
		@include absolute(0, $L:0);
		@include wh(8px, 100%);
		background-color: $orange-base;
		border-top-left-radius: $border-radius-base;
		border-bottom-left-radius: $border-radius-base;
		opacity: 0;
	}



	.diary-category {

		// @include absolute();
	}

	.diary-txt {
		flex: auto;
	}

	.diary-pic {
		max-width: 210px;
		flex: 0 0 40%;
		align-self: center;

		@include media-down(1330px){
			flex: 0 0 45%;
		};

		@include media-breakpoint-down(sm){
			display: none;
		};

	}

	.diary-brief {
		@include text_ellipsis(3, 1.5);
	}
}