extends ../jade_inc/layout.jade
block vars
	-var page_class = "index_page"
	-var current_active = "diary"

block title
	title 學習日誌

block content
	main.content_wrapper
		.container-fluid
			header.content_title.justify-content-between
				span.current_page 新增日誌
				.helpers
					a.btn.btn-tb.btn-goback.align-self-end(href="./")
						.btn-icon.d-inline-block
							<i class="fas fa-arrow-left"></i>
						| 返回列表

			.content_container
				.diary_cnt_wrap.p-5
					.diary_form
						form#diaryForm(action="")
							.form-row
								.form-group.col
									.row
										label.col-md-auto.col-form-label(for="diaryDate") 選擇日期
										.col-6.control-field
											input.form-control.datepicker(type="text", name="diaryDate", id="diaryDate", required)
								.form-group.col
									.row
										label.col-md-auto.col-form-label(for="diaryCategory") 選擇類別
										.col-6.control-field
											| <select class="form-control" name="diaryCategory" id="diaryCategory" required>
											|	<option value="">請選擇類別</option>
											|	<option value="1">生活學習</option>
											|	<option value="2">人際關係</option>
											|	<option value="3">類別三</option>
											|	<option value="4">類別四</option>
											| </select>
							.form-row
								.form-group.col
									.row
										label.col-12.col-form-label(for="diaryContent") 日誌內容
										.col-12.control-field
											textarea#diaryContent.form-control(name="diaryContent", required)
							.form-row
								.form-group.col
									.row
										label.col-md-auto.col-form-label 上傳圖片
										.col-md.control-field.file_upload
											label.form-control.file_upload-label(for="uploadPic") <i class="fas fa-upload"></i>選擇檔案
											input.form-control.file_upload-input(type="file", name="", id="uploadPic")
											.file_upload-preview.pic.mt-2.text-center
								.form-group.col
									.row
										label.col-md-auto.col-form-label(for="share_target") 分享對象
										.col-md
											.control-field
												select#share_target.form-control.not-styled(name="", multiple="multiple")
													option.not-show(value="0", selected="selected", data-photo="dist/images/photo.jpg") 主管
											.share_target-list
												ul.cf.lis-n
							.form-row
								.form-group.col
									.row
										.form-btns
											button#temporaryBtn.btn.btn-success(type="button") 儲存
											button#submitBtn.btn.blue(type="submit") 送出


block page_script
	// =========================================================================
	// 頁面單獨ＪＳ  START
	script.
		$(function() {
			okadminUI.formCheck().init();



			var d = "<option value=''></option>";
			d += "<option value='12341234'>12341234</option>";
			$("#diaryCategory").empty().append(d);
			okadminUI.selectStyled().refresh($("#diaryCategory"));


			//- var uploadFileVal = '';
			// 上傳圖片
			$("#uploadPic").change(function(event) {
				okadminUI.previewPhoto(this);
				console.log(uploadFileVal);
			});


			// member.json :所有使用者的清單
			// data:
			// member_id
			// name
			// ext
			// email
			// photo
			$.ajax({
				url: 'member.json',
				dataType: 'json',
				// data: {param1: 'value1'},
			})
			.done(function(data) {
				// 撈完資料後，建立option選項
				for (var i = 0; i < data.length; i++) {
					var opt_html= "";
					opt_html += "<option value='"+data[i]["member_id"]+"' data-photo='"+data[i]["photo"]+"'>";
					opt_html += 	data[i]["ext"]+" "+data[i]["name"];
					opt_html += "</option>";
				    $("#share_target").append(opt_html);
				}
				// <select>轉變為其他格式 (表面上)
				$("#share_target").multipleSelect({
					isOpen: false,
					width: "100%",
				    filter: true,
				    selectAll: false,
				    // single: true,
				    onClick: function(e){
				    	$("#share_target").multipleSelect({
				    		isOpen: false,
				    	});
				    	console.log(e);
				    }
				});

			})
			.fail(function() {
				$("#share_target").multipleSelect({
					isOpen: false,
					width: "100%",
				    filter: true,
				    selectAll: false,
				    // single: true,
				    onClick: function(e){
				    	$("#share_target").multipleSelect({
				    		isOpen: false,
				    	});
				    	console.log(e);
				    }
				});
				console.log("error");
			})
			.always(function() {
				// console.log("complete");
			});


			var ShareList = function(){
				return {
					'val': '',
					'text': ''
				}
			};


			$("#share_target").change(function(event) {
				addToShareList();

				console.log("select change   "+$("#share_target").val());
			});

			// 加入分享對象
			function addToShareList(){

				ShareList.val = $("#share_target").multipleSelect("getSelects");
				ShareList.text = $("#share_target").multipleSelect("getSelects", "text");
				// console.log(ShareList.val);
				// console.log(ShareList.text);
				var name = [], photo = [];
				var selected_len = $("#share_target :selected").length;
				$("#share_target :selected").each(function(index, el) {
					photo.push($(this).data('photo'))
				});
				//- console.log(photo);


				$(".share_target-list ul").html('');
				var html = "";
				for (var i = 0; i < selected_len; i++) {
					html += "<li class=\"share_target-item\" data-id=\""+ShareList.val[i]+"\">";
					html += "	<span class=\"pic okuser-photo\"><img src=\""+photo[i]+"\" alt=\"\"></span>";
					html += "	<span class=\"okuser-name\">"+ShareList.text[i]+"</span>";
					html += "	<button type=\"button\" class=\"btn-removeTarget\" onClick=\"removeTarget(this);\"><i class=\"fas fa-user-times\"></i></button>";
					html += "</li>";

				}
				$(".share_target-list ul").append(html);

				$(".share_target-item").append($('<button/>', {'type': 'button', 'class': 'btn-removeTarget'}).on({'click': function(e) {removeTarget(e); } }))

				return ShareList;
			}

			// 移除分享對象
			function removeTarget(e){
				var target_id = $(e.target).parents("li").data('id');
				console.log(target_id);

				$(".ms-drop").find('input').each(function(index, el) {
					if ($(el).val() == target_id) {
						$(this).prop('checked', false);
						$('#share_target').multipleSelect('update');
					}
				});

				// console.log("change   "+$("#share_target").val());
			}

			// 點擊“儲存”按鈕，先執行okadminUI.notice()
			$("#temporaryBtn").click(function(event) {
				console.log($("#diaryDate").val());
				console.log($("#diaryCategory").val());
				console.log($.trim($("#diaryContent").val()));
				console.log(uploadFileVal);
				console.log(ShareList.val);
				console.log(ShareList.text);
				okadminUI.notice("已成功暫存。")
			});

			var form = $("#diaryForm");
			// 表單驗證
			form.validate({
				submitHandler: function () {
					//  提交表單
					console.log($("#diaryDate").val());
					console.log($("#diaryCategory").val());
					console.log($.trim($("#diaryContent").val()));
					console.log(uploadFileVal);
					console.log(ShareList.val);
					console.log(ShareList.text);
					//- window.location.href="index.html";
				}
			});
		});
	// =========================================================================

