extends ../jade_inc/layout.jade
block vars
	-var page_class = "index_page"
	-var current_active = "diary"

block title
	title 學習日誌

block content
	main.content_wrapper
		.container-fluid
			header.content_title.justify-content-between
				a.btn.btn-add.btn-sm(href="diary_add.html")
					.btn-icon.d-inline-block
						<i class="fas fa-pencil-alt"></i>
					| 新增日誌
				.helpers
					a.btn.btn-tb.btn-goback.align-self-end(href="./")
						.btn-icon.d-inline-block
							<i class="fas fa-arrow-left"></i>
						| 返回列表

			.content_container
				.diary_cnt_wrap.p-4.p-sm-5
					section.diary_cnt_container
						article.diary_cnt
							.diary-date 2018-05-22
							.diary-category 生活學習
							.diary-txt.pt-2
								| 滾滾長江東逝水，浪花淘盡英雄。ㄒ
								| 是非成敗轉頭空。
								| 青山依舊在，幾度夕陽紅。
								| 白髮漁樵江渚上，慣看秋月春風。
								| 一壺濁酒喜相逢。
								| 古今多少事，都付笑談中。
							.diary-pic.pt-2
								.pic
									img(src="dist/images/temp/pic1.jpg", alt="")
					section.diary_footer.mt-5
						.diary_footer-tab
							ul.cf.lis-n
								li.diary_footer-tab-item.feedback.js-active
									span.inner 回饋
						.diary_footer-container
							// id規則參考
							// diary_[員工編號]_[yyyymmdd][0~9][0~9]_f[0~9][0~9]
							section#diary_tw000223_2018052201_f01.diary_footer-section
								.inner.d-sm-flex.align-items-start
									.inner-l.d-flex.align-items-center
										.pic.okuser-photo
											img(src="dist/images/photo.jpg", alt="")
										.okuser-name 張阿志
									.inner-r
										.feedback-txt
											.feedback-date.mb-2 2018-05-22
											.feedback-cnt.
												詞的開首兩句令人想到杜甫的“無邊落木蕭蕭下，不盡長江滾滾來”和蘇軾的“大江東去，浪淘盡，千古風流人物”，以一去不返的江水比喻歷史的進程，用後浪推前浪來比喻英雄叱吒風雲的豐功偉績。然而這一切終將被歷史的長河帶走。“是非成敗轉頭空”是對上兩句歷史現象的總結，從中也可看出作者曠達超脫的人生觀。“青山依舊在，幾度夕陽紅”，青山和夕陽象徵着自然界和宇宙的亙古悠長，儘管歷代興亡盛衰、循環往復，但青山和夕陽都不會隨之改變，一種人生易逝的悲傷...
										.feedback-ft
											button.btn.btn-light.btn-reply(type="button", onClick="learnDiaryUI.reply(this, 'open')") 回覆
											.reply_form
												form(action="", method="POST")
													.form-group
														.control-field
															textarea.form-control(name="replyCnt", required)
													.form-group
														.form-btns
															button.btn.btn-grey.btn-cancel(type="button", onClick="learnDiaryUI.reply(this, 'cancel')") 取消
															button.btn.blue.btn-submit(type="submit") 送出
											.reply_container
												.inner.d-md-flex
													.inner-l
														.pic.okuser-photo
															// 載入自己的照片
															img(src="dist/images/temp/user_photo-s.jpg", alt="")
													.inner-r
														.reply-date.mb-2
														.reply-cnt
							// 有回覆內容時，顯示回覆內容
							section#diary_tw000223_2018052201_f02.diary_footer-section
								.inner.d-sm-flex.align-items-start
									.inner-l.d-flex.align-items-center
										.pic.okuser-photo
											img(src="dist/images/photo.jpg", alt="")
										.okuser-name 張阿志
									.inner-r
										.feedback-txt
											.feedback-date.mb-2 2018-05-22
											.feedback-cnt.
												一名男子日前到夜市買油條當晚餐，但旁邊站著一位3歲男童，竟偷咬一口油條，沒想到男童家長卻回他：「一口油條又不會少塊肉！」讓他氣到拿剩下的油條猛K男童頭部。<br>男童雖然沒受傷，但被突如其來的舉動嚇到狂哭，因此男童家長報警，做筆錄時，男童家長表示：「不敢相信有人拿油條打我兒子！」男子也堅決不道歉。<br>男童家長更要求5000元賠償和解，不然就要提告，但他認為男童並沒有受傷，向對方表示：「如果小孩有受傷，可以拿出驗傷單或醫療收據，我實付金額！」但家長仍不斷跳針要5000元和解金，還揚言「告到死」，讓他聽了傻眼喵咪
										.feedback-ft
											.reply_container
												.inner.d-md-flex
													.inner-l
														.pic.okuser-photo
															// 載入自己的照片
															img(src="dist/images/temp/user_photo-s.jpg", alt="")
													.inner-r
														.reply-date.mb-2 2018-05-22
														.reply-cnt.
															稍不留神，桌面就會亂七八糟
															一般來說，辦公桌會堆滿文件、物品，變得凌亂，我認為是因為下面幾種心態造成的：
															以為辦公桌周圍的東西，都屬於自己所有。
															文件、物品不在自己身邊，就無法安心工作。
															因為文件、物品都還沒整理，就下意識的認為身邊所有東西，都是自己需要的。
															獨自歸納、製作完成的文件，即使用的是公司的金錢和時間，卻不認為是公司全體員工共有的資產。
															討厭別人打開自己的辦公桌抽屜。
															覺得要離開座位去拿常用的文件很麻煩。
															如同我在前面說的，對上班族來說，辦公桌就是工作的出發點。如果桌上堆滿了文件、物品，找個東西還得耗費時間翻箱倒櫃，工作的品質勢必低落。
															工作能力強的人，桌子周遭一定整理得乾乾淨淨。在顧客的眼裡，這種人「工作迅速又確實」。
															會整理自己腦袋的人，自然會把整理的本事，反映在辦公桌上；反之亦然，會整理辦公桌、整頓工作環境的人，自然就會整理自己的腦袋。
															整理是工作的基本動作，只要養成習慣，種種好處自然會反映在工作成果上，而且會進一步感染整個職場，讓所有同仁都順利使用共有的資訊和物品。








block page_script
	// =========================================================================
	// 頁面單獨ＪＳ  START
	script.
		$(function() {
			okadminUI.formCheck().init();
			$(".btn-submit").click(function(event) {
				var $this =  $(event.target);
				var thisId = $this.parents(".diary_footer-section").attr('id');
				var form = $("#"+thisId).find('form');
				// 表單驗證
				$(form).validate({
					submitHandler: function (form) {
						console.log(form);
						//  提交表單
						var today = new Date();
						var todayStr = today.getFullYear()+ "-" + (today.getMonth()+1) + "-" + today.getDate();
						var replyCnt = $("#"+thisId).find('textarea.form-control').val();

						$("#"+thisId).find('.reply-date').text(todayStr);
						$("#"+thisId).find('.reply-cnt').text(replyCnt);
						$("#"+thisId).addClass('has-Cnt');

						console.log(thisId);

						learnDiaryUI.reply($this, 'close');

						// 用ＡＪＡＸ，將回覆內容傳回後台
						$.ajax({
							// url: '/path/to/file.aspx',
							type: 'POST',
							// dataType: 'default: Intelligent Guess (Other values: xml, json, script, or html)',
							data: {'today': todayStr, 'replyCnt':replyCnt},
						})
						.done(function() {
							console.log("success");
						})
						.fail(function() {
							console.log("error");
						})
						.always(function() {
							// console.log("complete");
						});
					}
				});
				// $(form).submit();
			});

			// 如有回覆內容，加上"has-Cnt" class
			$(".reply-cnt").each(function(index, el) {
				if (!$(el).is(':empty')) {
					$(this).parents('.diary_footer-section').addClass('has-Cnt')
				}
			});
		});
	// =========================================================================

