.btn {
	&.today {
		display: none;
		&.js-show {
			display: block;
		}
	}

	&-icon {
		margin-right: $btn-icon-margin;
	}

	&-add {
		background-color: #ecc700;
		color: $grey-darken-3;
		.btn-icon {
			fill: $grey-darken-3;
		}
	}

	&-goback {
		color: $grey-darken-2;
		background-color: $grey-lighten-3;
	}

	&-adv_search {
		background-color: transparent;
		border: none;
		padding: 0.5em;
		color: theme-color("df-grey");

		cursor: pointer;

		transition: $btn-transition;
		&:focus {
			outline: 0;
		}

		&:hover {
			background-color: $grey-lighten-2;
		}

		.js-show-adv_search & {
			background-color: $grey-lighten-2;
		}
	}

	&-removeTarget {
		@include absolute(0, 1rem, 0);
		margin: auto;
		@include wh(45);
		color: $red-base;
		cursor: pointer;
		border: none;
		background-color: transparent;
	}
}